{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
        <section class="card card-body">  
                <h1 class="display-1 text-center">Django App</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Praesentium perspiciatis quia labore
                        ducimus minus debitis voluptate, ut temporibus ratione aut
                        expedita consectetur animi qui autem? Neque sapiente porro
                        aliquid libero.</p>
        <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                        Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                        signup
                </a>
        </div>
                        {% endblock %}
                </section>
</main>